:root {
    /* Variables */
    --color-background-solid: #cccafb;
    --color-background: repeating-linear-gradient(180deg,
    rgba(243,181,226,1) 0%,
    rgba(204,202,251,1) 20%,
    rgba(243,181,226,1) 50%,
    rgba(204,202,251,1) 80%,
    rgba(243,181,226,1) 100%
    );
    --color-navbar: #fcd1f0;
    --color-primary: rgba(252, 209, 240, 0.7);
    --color-secondary: rgba(243,181,226,1);
    --colour-accent: ;

    --text-navbar: #7f6182;
    --text-primary: #2f1631;
    --text-secondary: #3b283d;
  }
  

* {
    box-sizing: border-box;
    font-family: tajawal, serif;
    font-size: 14px;
}

html {
    /* Size */
    min-height: 100vh;
    height: fit-content;
}

body {
    /* Size */
    min-height: 100vh;
    height: fit-content;

    min-width: 320px;
    padding: 0px;
    margin: 0px;
}

h1 {
    color: var(--text-primary);

    font-weight: bold;
    line-height: 150%;
    letter-spacing: 0.08em;
    font-size: 24px;

    padding: 0px 0px 10px 0px;
    margin: 0px;
}

p {
    color: var(--text-primary);

    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.05rem;
    font-size: 12.5px;

    padding: 0px;
    margin: 0px 0px;

    &.text-left {
        text-align: start;
    }
    
    &.text-right {
        text-align: end;
    }
    
    &.text-middle {
        text-align: center;
    }
}

button {
    all: unset;
}

.flex-wrapper {
    /* Flex */
    display: flex;
    flex: 1 1 auto;
    align-content: center;
    justify-content: center;
    flex-direction: column;

    /* Size */
    height: 100%;
    padding: 0px;
    margin: 0px;

    /* Color */
    background-color: var(--color-background);
}

.header-container {
    /* Flex */
    display: flex;
    flex-direction: column;
    z-index: 2;

    /* Color */
    background-color: var(--color-background-solid);
}

.footer-container {
    /* Flex */
    display: flex;
    flex-direction: column;

    /* Color */
    background-color: var(--color-background-solid);

     /* Other */
     z-index: 2;
}

.content-container {
    /* Flex */
    display: flex;
    flex: 1 1 auto;
    align-self: center;
    align-content: center;
    align-items: stretch;
    justify-content: start;
    flex-direction: row;

    /* Size */
    width: 100%;
    padding: 0px;
    margin: 0px;

    /* Color */
    background-color: var(--color-background);
}

.navbar-wrapper {
    /* Flex */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    flex: 1;
    
    /* Size */
    width: 100%;
    padding: 10px;
    margin: 0px;

    /* Color */
    background-color: var(--color-navbar);

    /* Other */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 2px;
    z-index: 1;
}

.navbar {
    /* Sticky */
    position: sticky;
    top: 10px;

    /* Flex */
    display: flex;
    flex-direction: column;
    gap: 0px;

    /* Size */
    padding: 5px;
    margin: 0px;

    & a {
        /* Flex */
        display: flex;
        align-items: center;
        justify-content: left;

        /* Size */
        min-width: fit-content;
        max-width: fit-content;
        padding: 5px;
        margin: 0px;

        /* Text */
        text-decoration: none;
        color: var(--text-navbar);
        font-size: 13px;
    }
}

.main {
    position: relative;
    /* Flex */
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 5;

    /* Color */
    background: var(--color-background);
    background-size: auto 1000vh;

    /* Size */
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding: 5px;
    margin: 0px;
    z-index: 0;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        filter: url('assets/noise.svg#__grainNoise__');
        z-index: -1;
    }
}

.poem {
    /* Animation */
    opacity: 1;
    transition: opacity 0.5s ease-out;

    flex-shrink: 1;

    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;

    border-radius: 10px;

    /* Color */
    background-color: var(--color-primary);

    /* Size */
    width: 100%;
    min-width: 320px;
    max-width: 426px;
    padding: 10px;
    margin: 0px 0px 10px 0px;

    &.htmx-added {
        opacity: 0;
    }
}

.header {
    /* Size */
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;

    /* Color */
    background-color: var(--third-color);
}

.footer {
    /* Size */
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;

    /* Color */
    background-color: var(--third-color);
}

.none > button {
    /* Flex */
    flex: 1 0 auto;

    /* Size */
    width: 60px;
    height: 40px;
    max-width: 60px;
    max-height: 40px;
    padding: 0px;
    margin: 0px;
}

.icon {
    /* Flex */
    display: flex;
    flex: 1 0 auto;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;

    /* Size */
    max-width: 80px;
    max-height: 80px;
    padding: 0px;
    margin: 0px;

    /* Other */
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.tag{
    all: unset;

    /* Text */
    line-height: 150%;
    letter-spacing: 0.05rem;
    font-weight: normal;
    font-style: italic;
    font-size: 12px;

    /* Size */
    padding: 5px;
    margin: 0px 0px 0px 0px;

    /* Color */
    background-color: var(--color-secondary);
    color: var(--text-secondary);

    /* Other */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    border-radius: 10px;

    &.tag-toggle {
        /* Color */
        background-color: var(--color-background-solid);
    }
}

.tag-container {
    /* Flex */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0 5px;

    /* Size */
    padding: 5px 0px 0px 0px;
    margin: 0px;

    & button:hover {
        /* Text */
        text-decoration: underline;
    }
}

.time-container {
    /* Size */
    padding: 5px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

time {
    /* Text */
    color: var(--text-secondary);
    font-style: italic;
    font-weight: bold;
    font-size: 12px;

    /* Size */
    padding: 5px;
    margin: 0px;
}

.hidden {
    display: none;
}

#page {
    opacity: 1;
    transition: opacity 0.1s ease-out;

    &.htmx-added {
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        & a {
            justify-content: center;
        }
    }

    .navbar-wrapper {
        box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
        position: sticky;
        top: 0px;
    }

    .main {
        align-items: center;
    }

    .icon {
        margin-right: auto;
    }
  }